body {
  background-image: url('../images/2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

header {
  margin: 20px;
}


.trigger {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 2px solid white;
    cursor:pointer;
    overflow: hidden;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.tweet {
  color: white;
}
